# <font color='blue'>Data Science Academy - Python Fundamentos - Capítulo 2</font>

## Download: http://github.com/dsacademybr

## Exercícios Cap02

In [ ]:
# Exercício 1 - Imprima na tela os números de 1 a 10. Use uma lista para armazenar os números.

In [11]:
list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

for number in range(10):
    print(list[number])

1
2
3
4
5
6
7
8
9
10

In [8]:
# Exercício 2 - Crie uma lista de 5 objetos e imprima na tela

In [5]:
list = []

for number in range(1, 6):
    list.append(number)
    
list

[1, 2, 3, 4, 5]

In [ ]:
# Exercício 3 - Crie duas strings e concatene as duas em uma terceira string

In [13]:
first_name = 'Everton'
last_name = 'Quadros'

full_name = first_name + ' ' + last_name

full_name

'Everton Quadros'

In [ ]:
# Exercício 4 - Crie uma tupla com os seguintes elementos: 1, 2, 2, 3, 4, 4, 4, 5 e depois utilize a função count do 
# objeto tupla para verificar quantas vezes o número 4 aparece na tupla

In [14]:
tupla = (1, 2, 2, 3, 4, 4, 4, 5)
tupla.count(4)

3

In [ ]:
# Exercício 5 - Crie um dicionário vazio e imprima na tela

In [15]:
hash = {}

hash

{}

In [ ]:
# Exercício 6 - Crie um dicionário com 3 chaves e 3 valores e imprima na tela

In [16]:
hash = {'key1': 1, 'key2': 2, 'key3': 3}

hash

{'key1': 1, 'key2': 2, 'key3': 3}

In [ ]:
# Exercício 7 - Adicione mais um elemento ao dicionário criado no exercício anterior e imprima na tela

In [17]:
hash['key4'] = 4

hash

{'key1': 1, 'key2': 2, 'key3': 3, 'key4': 4}

In [ ]:
# Exercício 8 - Crie um dicionário com 3 chaves e 3 valores. Um dos valores deve ser uma lista de 2 elementos numéricos. 
# Imprima o dicionário na tela.

In [18]:
hash = {'key1': 1, 'key2': 2, 'key3': [1, 2]}

hash

{'key1': 1, 'key2': 2, 'key3': [1, 2]}

In [ ]:
# Exercício 9 - Crie uma lista de 4 elementos. O primeiro elemento deve ser uma string, 
# o segundo uma tupla de 2 elementos, o terceiro um dcionário com 2 chaves e 2 valores e 
# o quarto elemento um valor do tipo float.
# Imprima a lista na tela.

In [3]:
list = ['Banana', (1, 2), {'key1': 1, 'key2': 2}, 2.5]

list

['Banana', (1, 2), {'key1': 1, 'key2': 2}, 2.5]

In [21]:
# Exercício 10 - Considere a string abaixo. Imprima na tela apenas os caracteres da posição 1 a 18.
frase = 'Cientista de Dados é o profissional mais sexy do século XXI'

In [22]:
print(frase[1:18])

ientista de Dados

# Fim

### Obrigado - Data Science Academy - <a href="http://facebook.com/dsacademybr">facebook.com/dsacademybr</a>